<head>
    <title>Chord Chart Builder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  
    <meta name="description" content="Paste text and drag chords on to build your chord chart. Transpose chord chart to any key using the dropdown menu."/>
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="application" />
    <meta property="og:title" content="Chord Chart Builder" />
    <meta property="og:description" content="Paste text and drag chords on to build your chord chart. Transpose chord chart to any key using the dropdown menu." />
    <meta property="og:url" content="https://www.guitarthinker.com/chord-chart-builder" />
    <meta property="og:site_name" content="GuitarThinker" />
 
  <% include links %>
  
</head>