<head>
    <title>Guitar Chord Game - Learn Chords and Compete</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  
    <meta name="description" content="Guitar chord quiz that teaches easy, medium, and hard chords.  Compete with yourself and others in this addictive game."/>
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="game" />
    <meta property="og:title" content="Guitar Chord Game - Learn Chords and Compete" />
    <meta property="og:description" content="Guitar chord quiz that teaches easy, medium, and hard chords.  Compete with yourself and others in this addictive game."/>
    <meta property="og:url" content="https://www.guitarthinker.com/guitar-chord-game" />
    <meta property="og:site_name" content="GuitarThinker" />
 
  <% include links %>
  
</head>