<head>
    <title>GuitarThinker - Guitar and Music Theory Games</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  
    <meta name="description" content="Free music games. Practice and compete online in guitar and music theory and rank on the leaderboard."/>
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="GuitarThinker - Guitar and Music Theory Games" />
    <meta property="og:description" content="Free music games. Practice and compete online in guitar and music theory and rank on the leaderboard." />
    <meta property="og:url" content="https://www.guitarthinker.com/" />
    <meta property="og:site_name" content="GuitarThinker" />
 
  <% include links %>
  
</head>