<head>
    <title>GuitarThinker - Games | Apps | Nashville Number System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  
    <meta name="description" content="Free music games. Online multiplayer guitar and music theory games."/>
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="GuitarThinker - Games | Apps | Nashville Number System" />
    <meta property="og:description" content="Music and guitar games with realtime leaderboard. Practice music theory, guitar chords, and compete with the world." />
    <meta property="og:url" content="https://www.guitarthinker.com/" />
    <meta property="og:site_name" content="GuitarThinker" />
 
  <% include links %>
  
</head>