<head>
    <title>Music Theory Master - Music Theory Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  
    <meta name="description" content="This quiz is a fun way to practice music theory.  Compete against others and rank on the leaderboard."/>
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="game" />
    <meta property="og:title" content="Music Theory Master - Music Theory Quiz" />
    <meta property="og:description" content="This quiz is a fun way to practice music theory.  Compete against others and rank on the leaderboard." />
    <meta property="og:url" content="https://www.guitarthinker.com/music-theory-master" />
    <meta property="og:site_name" content="GuitarThinker" />
 
  <% include links %>
  
</head>