<head>
    <title>Nashville Number System Tutorial and Examples</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  
    <meta name="description" content="Explanation of the Nashville Number System and common number patterns in every key."/>
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="application" />
    <meta property="og:title" content="Nashville Number System Tutorial and Examples" />
    <meta property="og:description" content="Explanation of the Nashville Number System and common number patterns in every key." />
    <meta property="og:url" content="https://www.guitarthinker.com/nashville-number-system" />
    <meta property="og:site_name" content="GuitarThinker" />
 
  <% include links %>
  
</head>