<head>
    <title>Spell That Chord - Music Theory Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  
    <meta name="description" content="Practice building, or spelling chords with this fun game and rank on the leaderboard.  Spelling chords is an important part of music theory."/>
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="game" />
    <meta property="og:title" content="Spell That Chord - Music Theory Game" />
    <meta property="og:description" content="Practice building, or spelling chords with this fun game and rank on the leaderboard.  Spelling chords is an important part of music theory." />
    <meta property="og:url" content="https://www.guitarthinker.com/spell-that-chord" />
    <meta property="og:site_name" content="GuitarThinker" />
 
  <% include links %>
  
</head>