<!DOCTYPE html>
<html>
  <% include partials/head/gcg-head %>
  <body>
    <% include partials/nav %>
    <div class="container main">
       <link href="/styles/guitarChordGame.css" rel="stylesheet" type="text/css" />
      
      <div class="gameHeader">
        <%  include partials/fb-links  %>
        <%  include partials/guitarChordGame/login-links-gcg  %>
          <p class="pull-right text-muted"><%= message %><span id="n"><%= n %></span><span id="u" style="display:none"><%= u %></span></p>  
      </div>
      <div id="gcgMain" class="text-center">
        <div id="gcgDifficultyBtnRow">
          <button id="gcgEasyBtn" class="btn btn-default selected">Easy</button>
          <button id="gcgMediumBtn" class="btn btn-default">Medium</button>
          <button id="gcgHardBtn" class="btn btn-default">Hard</button>
        </div>
        <div id="gcgPointsAvailableContainer">
          <p id="gcgPointsAvailableText">Points Available: <span id="gcgPointsAvailableDisplay"></span></p>
        </div>
        <div id="gcgFeedbackContainer">
          <p id="gcgGuessFeedback">What chord is this?</p>
        </div>
        <div id="gcgAnswerContainer"></div>
      </div>
     
      
      <div id="gcgMainRow" class="row">
      <div class="col-md-6">
        <div id="gcgGame"></div>
        </div><!--/col-->
        <div id="gcgLeaderboardColumn" class="col-md-6">
           <div id="gcgLeaderboard" class="leaderboardContainer" style="padding-bottom: 80px;">
              <h4 class="text-center">Guitar Chord Game Leaderboard</h4>
              <h5 id="leaderboardMessage" class="text-center"></h5>
              <div id="gcgLeaderboardBtnRow" class="leaderboardBtnRow"><span>Sort by: </span><div id="gcgLbTopScorersBtn" class="btn btn-sm btn-default">Top Scorers</div><div id="gcgLbNearMeBtn" class="btn btn-sm btn-default selected">Recent Players</div></div> 
        <table class="table">  
        <thead>  
          <tr>  
            <th>#</th>  
            <th>Name</th>  
            <th><a href="/guitar-chord-game"><img src="/images/gcg/gcgIcon.png" alt="Guitar Chord Game Icon" style="height: 40px;"/></a></th>   
            <th style="padding-bottom: 0px;"><img src="/images/gtLogoPickAndHead.png" alt="GuitarThinker Icon" style="height: 40px; margin: 0 0 -10px 0"/><br><span class="text-center">Total</span></th>
          </tr>  
        </thead>
        <div class="chart"></div>  
        <tbody id="masterLeaderboardTable">       
        </tbody>
        </table>
          </div><!--/#gcgLeaderboard-->
        </div><!--/col--> 
      </div><!--/row-->  

    </div><!--/container -->
    </div>  
    <% include partials/footer %>
    <script src="js/lib/phaser.min.js"></script>
    <script src="/js/guitarChordGame.js"></script>  <!-- spellThatChord js -->
  </body>
</html>