<!DOCTYPE html>
<html>
  <% include partials/head/gcg-head %>
  <body>
    <% include partials/nav %>
    <div class="container main">
       <link href="/styles/guitarChordGame.css" rel="stylesheet" type="text/css" />
      <div id="loginSection">
          <% include partials/fb-links %>
          <%  include partials/guitarChordGame/login-links-gcg  %>
         <p id="loginMessage" class="pull-right"><%= message %><span id="n"><%= n %></span><span id="u" style="display:none"><%= u %></span></p>
       </div>
      <div id="gcgMainRow" class="row">
      <div class="col-lg-6">         
      <h5 id="loadingText" class="visible-xs visible-sm text-center">This game takes a few seconds to load on mobile devices.  Hang around, it's worth it!<br>Remember to sign up with your twitter handle and I'll tweet you if you make it to the top of the leaderboard.</h5>  
      <div id="gcgMain" class="text-center">
        <div id="gcgFeedbackContainer" class="text-center">
            <p id="gcgGuessFeedback">What chord is this?</p> 
        </div>
      <div id="gcgAnswerContainer"></div>
      <div id="gcgGame"></div>
        <div id="gcgPointsAvailableContainer">
          <p id="gcgPointsAvailableText">Points Available: <span id="gcgPointsAvailableDisplay"></span></p><p id="currUserText">Score: <span id="currUserScore">0</span></p>
        </div>
        <div id="gcgDifficultyBtnRow">
          <button id="gcgEasyBtn" class="btn btn-default btn-lg selected">Easy</button>
          <button id="gcgMediumBtn" class="btn btn-default btn-lg">Medium</button>
          <button id="gcgHardBtn" class="btn btn-default btn-lg">Hard</button>
        </div>
      </div><!--/gcgMain--> 
    </div><!--/col-->
        <div class="col-lg-6">
      <div id="gcgLeaderboard" class="leaderboardContainer">
              <h4 class="text-center">Guitar Chord Game Leaderboard</h4>
              <h5 id="leaderboardMessage" class="text-center"></h5>
              <div id="gcgLeaderboardBtnRow" class="leaderboardBtnRow"><span>Sort by: </span><div id="gcgLbTopScorersBtn" class="btn btn-sm btn-default">Top Scorers</div><div id="gcgLbNearMeBtn" class="btn btn-sm btn-default selected">Recent Thinkers</div></div> 
        <table class="table">  
        <thead>  
          <tr>  
            <th>#</th>  
            <th>Name</th>  
            <th><a href="/guitar-chord-game"><img src="/images/gcg/gcgIcon.png" alt="Guitar Chord Game Icon" style="height: 40px;"/></a></th>   
            <th style="padding-bottom: 0px;"><img src="/images/gtLogoPickAndHead.png" alt="GuitarThinker Icon" style="height: 40px; margin: 0 0 -10px 0"/><br><span class="text-center">Total</span></th>
          </tr>  
        </thead>
        <div class="chart"></div>  
        <tbody id="masterLeaderboardTable">       
        </tbody>
        </table>
            <% if (Parse.User.current()) { %>
                <p class="text-center"><a href="/#gtLeaderboard">Where do I rank on the master leaderboard?</a></p>
            <% }else{ %>
                <p class="text-center"><a href="/#gtLeaderboard">Where is the master leaderboard?</a></p>
            <% } %>
      </div><!--/#gcgLeaderboard-->
      </div><!--/col-->  
      </div><!--/row-->  
    </div><!--/container -->  
    <% include partials/footer %>
    <script src="js/lib/phaser.min.js"></script>
    <script src="/js/lib/d3.min.js"></script>  <!-- d3 js -->
    <script src="/js/guitarChordGame.js"></script>  <!-- spellThatChord js -->
  </body>
</html>