<!DOCTYPE html>
<html>
  <body>
    <% include partials/head %>
    <% include partials/nav %>
    <div class="container">
      <% include partials/login-links %>
      <div class="jumbotron">
      <h3>Welcome to GuitarThinker.com</h3>
      <p>This site is being transitioned and is a work in progress!  But there are a lot of goodies in here right now... you should check them out!</p>
      
        <h3>This site is dedicated to making learning music easier and more fun.</h3>
        <p>Here are some things that are coming very soon:</p>
          <ul>
            <li><p>More games and apps to help you be awesome.</p></li>
            <li><p>Live leaderboards for each game.</p></li>
            <li><p>A master GuitarThinker leaderboard that tracks points scored for all games.</p></li>
            <li><p>Even more awesome stuff.</p></li>
          </ul>
        
        <h4>Here's what I think:</h4>
        <p>There is a serious lack of cool web 3.0 tools for musicians.  What does that mean?  Stuff like live data, interactivity, mobile device compatibility, and great looking design.  Why?  Well, probably because music education is not a super lucrative market, or maybe just because most musicians are not stellar programmers.</p>
        <h4>GuitarThinker to the rescue!</h4>
        <p>This site will be a fun place to visit, learn, come back and see what's new.  GuitarThinker will be a place to compete with yourself and others, because competetion motivates us.  This site will have lots of games that are fun to play and teach you music.</p>
      </div><!--/jumbotron-->  
    </div><!-- end container -->
    <% include partials/footer %>
  </body>
</html>
