<!DOCTYPE html>
<html>
  <% include partials/head/home-head %>
  <body>
    <% include partials/nav %>
    <link href="/styles/home.css" rel="stylesheet" type="text/css" />
     <div class="container main">
       <div id="loginSection">
          <% include partials/fb-links %>
          <% include partials/login-links %>
         <p id="loginMessage" class="pull-right"><%= message %><span id="n"><%= n %></span><span id="u" style="display:none"><%= u %></span></p>
       </div>
            <h1 class="text-center">Guitar and Music Theory Games</h1>
            <div class="row gameIcons">
              <div class="col-xs-4 text-center">
                <div class="homeGameTop">
                  <a href="/guitar-chord-game"><img src="/images/gcg/gcgIcon.png" alt="Guitar Chord Game Icon"/></a>
                </div>
              </div> 
              <div class="col-xs-4 text-center">
                <div class="homeGameTop">
                  <a href="/spell-that-chord"><img src="/images/stc/AppIcon76x76@2x.png" alt="Spell That Chord Large Icon"></a>
                </div>
              </div>
              <div class="col-xs-4 text-center">
                <div class="homeGameTop">
                  <a href="/music-theory-master"><img src="/images/mtm/MusicTheoryMaster_icon.png" alt="Music Theory Master Icon"/></a>
                </div>
              </div> 
            </div><!--/row-->
    </div><!--/container--> 
		<div class="texturedPanel">
        <div class="topTextContainer">
          <p>Studying guitar CAN be fun. Practicing music theory SHOULD be engaging. We musicians should have first class tools to develop our skills, and a multiplayer gaming platform to make it exciting.</p>
			<h2 class="text-center">GuitarThinker.com has:</h2>
            <p><span class="glyphicon glyphicon-ok"></span> Free games that are designed to keep your skills sharp, all with leaderboards that encourage competition.</p>
            <p><span class="glyphicon glyphicon-ok"></span> A master GuitarThinker leaderboard that tracks points scored for all games.</p>
            <p><span class="glyphicon glyphicon-ok"></span> Mobile friendly design.</p>
            </div>
        </div><!--/.texturedPanel-->

      <div class="row main">
         <div class="container">
         <div id="gtLeaderboard" class="leaderboardContainer">
              <h3 class="text-center">GuitarThinker Leaderboard</h3>
              <h5 id="leaderboardMessage" class="text-center"></h5>
              <div id="gtLeaderboardBtnRow" class="leaderboardBtnRow"><span>Sort by: </span><div id="gtLbTopScorersBtn" class="btn btn-sm btn-default">Top Scorers</div><div id="gtLbNearMeBtn" class="btn btn-sm btn-default">Recent Thinkers</div></div>
        <table class="table">  
        <thead>  
          <tr>  
            <th>#</th>  
            <th>Name</th>
            <th><a href="/guitar-chord-game"><img src="/images/gcg/gcgIcon.png" alt="Guitar Chord Game Icon" style="height: 40px;"/></a></th> 
            <th><a href="/spell-that-chord"><img src="/images/stc/AppIcon40x40.png" alt="Spell That Chord Icon"/></a></th>  
            <th><a href="/music-theory-master"><img src="/images/mtm/MusicTheoryMaster_icon.png" alt="Music Theory Master Icon" style="height: 40px;"/></a></th>
            <th style="padding-bottom: 0px;"><img src="/images/gtLogoPickAndHead.png" alt="GuitarThinker Icon" style="height: 40px; margin: 0 0 -10px 0"/><br><span class="text-center">Total</span></th>
          </tr>  
        </thead>
        <div class="chart"></div>
        <tbody id="masterLeaderboardTable">  
            
        </tbody>
        </table>

          </div><!--/#gtLeaderboard--> 
        </div><!--/container-->         
       </div><!--/row-->
        <div class="row texturedPanel">
        <div class="container bottomHomeContainer">
        <div class="col-sm-6 col-md-7">
        <h3>Here's what I think:</h3>
        <p>There is a serious lack of cool web 3.0 tools for musicians.  What does that mean?  Stuff like live data, interactivity, mobile device compatibility, and great looking design.  Why?  Well, probably because music education is not a super lucrative market, or maybe just because most musicians are not also programmers.</p>
        <h3>GuitarThinker to the rescue!</h3>
        <p>This site will be a fun place to visit, learn, come back and see what's new.  GuitarThinker will be a place to compete with yourself and others, because competetion motivates us.</p>
        </div><!--/col-->
        <div class="col-sm-6 col-md-5">
            <div id="twitterContainer" class="text-center">
            <a class="twitter-timeline" href="https://twitter.com/GuitarThinker" data-widget-id="530401530214498304">Tweets by @GuitarThinker</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>  
       </div><!--/col-->
        </div><!--/container -->    
        </div><!--/row-->  
    <% include partials/footer %>
    <script src="/js/lib/d3.min.js"></script>  <!-- d3 js -->
    <script src="/js/home.js"></script>  <!-- home js -->
  </body>
</html>
