
<!DOCTYPE html>
<html>
  <body>
    <% include partials/head %>
    <% include partials/nav %>
    <div class="container">
      <% include partials/login-links %>
      <p><%= message %></p>
      
    </div><!-- end container -->
    <% include partials/footer %>
  </body>
</html>
