
<!DOCTYPE html>
<html>
  <body>
    <head>
    <title>GuitarThinker Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <% include partials/head/links %>
    </head>
    <% include partials/nav %>
    <div class="container" style="min-height:900px">
  
      <!-- ----- START LOGIN MARKUP ------ -->  

      <div class="login text-center">   
      <h2>Log In</h2>
      <form method="post" action="/login">
        <div class="form-group">
          <input type="text" name="username" placeholder="username" ></input><br>
          <input type="password" name="password" type="password" placeholder="password" ></input><br>
          <input class="btn btn-success" type="submit" value="Log In">
        </div>
      </form>
      <p id="logInErrorMsg" class="errorMessage"><%= loginMessage %></p>
    
      <h2>Sign Up</h2>
      <form method="post" action="/signup">
        <div class="form-group">
          <input type="text" name="username" placeholder="twitter handle - or other username"></input><br>
          <input type="email" name="email" type="email" placeholder="email"></input><br>
          <input type="password" name="password" type="password" placeholder="password"></input><br>
          <input class="btn btn-success" type="submit" value="Sign Up">
        </div>
      </form>
      <p id="signUpErrorMsg" class="errorMessage"><%= signupMessage %></p>

      <form method="post" action="/reset">
		<h2>Forgot Password?</h2>
        <div class="form-group">
          <input type="email" name="email" type="email" placeholder="email"></input><br>
          <input class="btn btn-success" type="submit" value="Reset Password">
        </div>  
      </form>
      <p id="resetErrorMsg" class="errorMessage"><%= resetMessage %></p>  
      </div>  
  
 <!-- ----- END LOGIN MARKUP ------ --> 
      
      
      
    </div><!-- end container -->
  <% include partials/footer %>
  </body>
</html>