<!DOCTYPE html>
<html>
  <body>
    <% include partials/head %>
    <% include partials/nav %>
    <div class="container">
       <link href="/styles/musicTheoryMaster.css" rel="stylesheet" type="text/css" />
      <div class="gameHeader">
        <%  include partials/spellThatChord/login-links-stc  %>
          <p class="pull-right text-muted"><%= message %><span id="n"><%= n %></span><span id="u" style="display:none"><%= u %></span></p>  
      </div>
      <div class="text-center">
    <div id="timeBtn" class="btn btn-lg btn-danger">Time</div>
    <br>
  <br>
    <h4 id="timeKeeper"></h4>
    <h4 id="question"></h4>
    <div id="answerContainer"></div>
  </div>
    </div><!--/container -->
    <% include partials/footer %>
    <script src="/js/musicTheoryMaster.js"></script>  <!-- spellThatChord js -->
  </body>
</html>