<!DOCTYPE html>
<html>
  <% include partials/head/mtm-head %>
  <body>  
    <% include partials/nav %>
    <div class="container main">
       <link href="/styles/musicTheoryMaster.css" rel="stylesheet" type="text/css" />
      <div class="gameHeader">
        <%  include partials/musicTheoryMaster/login-links-mtm  %>
          <p class="pull-right text-muted"><%= message %><span id="n"><%= n %></span><span id="u" style="display:none"><%= u %></span></p>  
      </div>
      <div id="mtmMain" class="text-center">
        
        <div id="mtmPointsAvailableContainer">
          <p id="mtmPointsAvailableText">Points Available: <span id="mtmPointsAvailableDisplay"></span></p>
        </div>
        <div id="mtmAnswerContainer"></div>
        <h4 id="mtmQuestion"></h4>
        <div id="mtmFeedbackContainer">
          <p id="mtmGuessFeedback">What's your guess?</p>
        </div>
         
      </div>
      <div id="mtmLeaderboard" class="leaderboardContainer">
              <h5 class="text-center">Music Theory Master Leaderboard</h5>
              <% if (Parse.User.current()) { %>
              <div id="mtmLeaderboardBtnRow" class="leaderboardBtnRow"><span>Sort by: </span><div id="mtmLbTopScorersBtn" class="btn btn-sm btn-default">Top Scorers</div><div id="mtmLbNearMeBtn" class="btn btn-sm btn-default">Near Me</div></div><% } %>  
        <table class="table">  
        <thead>  
          <tr>  
            <th>#</th>  
            <th>Name</th>  
            <th>Music Theory Master<br>Points</th>  
            <th><img src="/images/gtLogoPickAndHead.png" alt="GuitarThinker Icon" style="height: 50px; margin: 0 0 -10px -5px;"/><br><span class="text-center">Total</span></th>
          </tr>  
        </thead>  
        <tbody id="masterLeaderboardTable">  
            
        </tbody>
        </table>
          </div><!--/#mtmLeaderboard-->
    </div><!--/container -->
    <% include partials/footer %>
    <script src="/js/musicTheoryMaster.js"></script>  <!-- spellThatChord js -->
  </body>
</html>