<!DOCTYPE html>
<html>
  <% include partials/head %>
  <body>
    <% include partials/nav %>
    <link href="/styles/nns.css" rel="stylesheet">
    <div class="container">   
      <div  class="jumbotron text-center">
      <h2>Nashville Number System</h2>  
      <!-- PLAY AREA -->    
        <div id="nns"> 
          <h3 style="color:#ffa700" id="tutorial">Tutorial &amp; <a href="#examples" class="btn btn-warning">Examples in Every Key</a> </h3>
          <div>
            <p>A typical number chart may look something like this:  </p>
              <h3>1  &nbsp;&nbsp;&nbsp;6- &nbsp;&nbsp;5 &nbsp;&nbsp;&nbsp;4 </h3>
              <h3>1 &nbsp;&nbsp;5/7  &nbsp;6- &nbsp;&nbsp;5</h3>  
            <p>Every number is a measure. This particular chart is only 8 measures. </p>
            <p>Dashes indicate minor chords. All other chords are assumed Major. Slashes show that a bass note has been altered.</p>
            <p> If this song IN THE KEY OF C were written using chord symbols it would look like this: </p>
              <h3>C  &nbsp;&nbsp;&nbsp;Am &nbsp;&nbsp;G &nbsp;&nbsp;&nbsp;F </h3>
              <h3>C &nbsp;&nbsp;G/B  &nbsp;Am &nbsp;&nbsp;G</h3> 
            <p>If we changed the above number chart to THE KEY OF D it would look like this: </p>
              <h3>D  &nbsp;&nbsp;&nbsp;Bm &nbsp;&nbsp;A &nbsp;&nbsp;&nbsp;G </h3>
              <h3>D &nbsp;A/C#  Bm &nbsp;&nbsp;A</h3> 
            <p>We would have had to re-write the chord symbol chart in order to change keys, but the number chart stays the same!
            </p>
          </div>  
        </div> <!-- END PLAY AREA -->  
    </div> <!-- END JUMBOTRON -->
  
  <br>
  
  <div  class="jumbotron text-center" id="examples">
      <h2 style="margin-top:0">Common Number Patterns</h2>
      <p>examples in every key</p>
      <!-- NUMBER PATTERNS -->    
        <div id="numberPatterns">
            <div class="btn-group">
                <button type="button" class="btn btn-lg btn-warning dropdown-toggle" data-toggle="dropdown">Key of&nbsp;  <span id="key">C</span>  &nbsp;<span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a class="btn btn-warning btn-sm" value="A">Key of A</a></li>
                  <li><a class="btn btn-warning btn-sm" value="Bb">Key of Bb</a></li>
                  <li><a class="btn btn-warning btn-sm" value="B">Key of B</a></li>
                  <li><a class="btn btn-warning btn-sm" value="C">Key of C</a></li>
                  <li><a class="btn btn-warning btn-sm" value="Db">Key of Db</a></li>
                  <li><a class="btn btn-warning btn-sm" value="D">Key of D</a></li>
                  <li><a class="btn btn-warning btn-sm" value="Eb">Key of Eb</a></li>
                  <li><a class="btn btn-warning btn-sm" value="E">Key of E</a></li>
                  <li><a class="btn btn-warning btn-sm" value="F">Key of F</a></li>
                  <li><a class="btn btn-warning btn-sm" value="Gb">Key of Gb</a></li>
                  <li><a class="btn btn-warning btn-sm" value="G">Key of G</a></li>
                  <li><a class="btn btn-warning btn-sm" value="Ab">Key of Ab</a></li>
                </ul>
            </div>          
            <br>
          <br>
            <div class="row">
              <div class="chart col-sm-6">
                <h3>1  &nbsp;&nbsp;4 &nbsp;&nbsp;5</h3>
                <h3><span class="number" value="1">C</span><span>&nbsp;&nbsp;</span><span class="number" value="4">F</span><span>&nbsp;&nbsp;</span><span class="number" value="5">G</span></h3>
                <p>Very common in pop music.</p>
              </div>
              <div class="chart col-sm-6">
                <h3>2 &nbsp;&nbsp;5  &nbsp;&nbsp;1</h3>
                <h3><span class="number" value="2">D</span><span>&nbsp;&nbsp;</span><span class="number" value="5">G</span><span>&nbsp;&nbsp;</span><span class="number" value="1">C</span></h3>
                <p>Very common in jazz.</p>
              </div>
            </div><!--/.row-->
            <div class="row">
            <div class="chart col-sm-6">
              <h3>1 &nbsp;&nbsp;5  &nbsp;&nbsp;6- &nbsp;&nbsp;4</h3>
              <h3><span class="number" value="1">C</span><span>&nbsp;&nbsp;</span><span class="number" value="5">G</span><span>&nbsp;&nbsp;</span><span class="number" value="6">A</span><span>m</span><span>&nbsp;&nbsp;</span><span class="number" value="4">F</span></h3>
              <p>Very common in pop music.</p>
            </div>
              <div class="chart col-sm-6">
                <h3>6 &nbsp;&nbsp;2  &nbsp;&nbsp;5 &nbsp;&nbsp;1</h3>
                <h3><span class="number" value="6">A</span><span>&nbsp;&nbsp;</span><span class="number" value="2">D</span><span>&nbsp;&nbsp;</span><span class="number" value="5">G</span><span>&nbsp;&nbsp;</span><span class="number" value="1">C</span></h3>
                <p>Circle of fourths.</p>
              </div>
            </div><!--/.row-->
        </div> <!-- END NUMBER PATTERNS -->  
    </div> <!-- END JUMBOTRON -->
      
      
      
      
    </div><!-- end container -->
    <% include partials/footer %>
    <script src="/js/nns.js"></script>
  </body>
</html>
      
  
  