<!DOCTYPE html>
<html>
  <body>
    <% include partials/head %>
    <% include partials/nav %>
    <div class="container">
       <link href="/styles/spellThatChord.css" rel="stylesheet" type="text/css" />
      <%  include partials/login-links  %>
      <p><%= message %></p>
      <h1 id="stcHeader" class="text-center">Spell That Chord</h1>
      <div id="stcGameContainer">
      <div class="text-center">
           <div id="stcHeader"></div>  
           <div id="stcFloorBackground">
            <div id="stcPiano">
              <div id="stcTopPianoRow">
                <div id="stcHowToPlayBtn" class="stcTopPianoRowBtn"></div>
                <div id="stcCheatSheetBtn" class="stcTopPianoRowBtn"></div>
              </div>
              <div id="stcChordDisplayRow">
                <h1 id="stcChordDisplay">Chord</h1>
              </div>
              <div id="stcScoreDisplayRow">
                <div id="stcPortraitSheetMusic" class="stcScoreDisplaySheetMusicBackground">
                  <span id="stcPortraitSheetMusicNumber" class="stcSheetMusicNumber">0</span>
                </div>
                <div id="stcAnswerDisplay">
                  <div id="stcEasyAnswerDisplay">
                    <div class="stcEasyAnswerDisplayLetter"><h2 id="stcEasy1">?</h2></div>
                    <div class="stcEasyAnswerDisplayLetter"><h2 id="stcEasy2">?</h2></div>
                    <div class="stcEasyAnswerDisplayLetter"><h2 id="stcEasy3">?</h2></div>
                  </div>
                  <div id="stcMediumAnswerDisplay">
                    <div class="stcMediumAnswerDisplayLetter"><h2 id="stcMedium1">?</h2></div>
                    <div class="stcMediumAnswerDisplayLetter"><h2 id="stcMedium2">?</h2></div>
                    <div class="stcMediumAnswerDisplayLetter"><h2 id="stcMedium3">?</h2></div>
                    <div class="stcMediumAnswerDisplayLetter"><h2 id="stcMedium4">?</h2></div>
                  </div>
                  <div id="stcHardAnswerDisplay">
                    <div class="stcHardAnswerDisplayLetter"><h2 id="stcHard1">?</h2></div>
                    <div class="stcHardAnswerDisplayLetter"><h2 id="stcHard2">?</h2></div>
                    <div class="stcHardAnswerDisplayLetter"><h2 id="stcHard3">?</h2></div>
                    <div class="stcHardAnswerDisplayLetter"><h2 id="stcHard4">?</h2></div>
                    <div class="stcHardAnswerDisplayLetter"><h2 id="stcHard5">?</h2></div>
                  </div>
                </div>
                <div id="stcLandscapeSheetMusic" class="stcScoreDisplaySheetMusicBackground">
                  <span id="stcLandscapeSheetMusicNumber" class="stcSheetMusicNumber">0</span>
                </div>
              </div>
              <div id="stcScoreTextRow">
                <span id="stcScoreTextRowPointsText" class="stcScoreText">Points</span>
                <span id="stcScoreTextRowScoreText" class="stcScoreText">Score</span>
              </div>
              <div id="stcPianoKeyboardContainer">
                <div id="stcPianoKeyboardRowOne" class="stcPianoKeyboardRow">
                  <div id="stcPianoKeyFirstRowOne" class="stcPianoKeyFirstRow"></div>
                  <div id="stcPianoKeyFirstRowTwo" class="stcPianoKeyFirstRow"></div>
                  <div id="stcPianoKeyFirstRowThree" class="stcPianoKeyFirstRow"></div>
                  <div id="stcPianoKeyFirstRowFour" class="stcPianoKeyFirstRow"></div>
                  <div id="stcPianoKeyFirstRowFive" class="stcPianoKeyFirstRow"></div>
                  <div id="stcPianoKeyFirstRowSix" class="stcPianoKeyFirstRow"></div>
                </div>
                <div id="stcPianoKeyboardRowTwo" class="stcPianoKeyboardRow">
                  <div id="stcPianoKeySecondRowOne" class="stcPianoKeySecondRow"></div>
                  <div id="stcPianoKeySecondRowTwo" class="stcPianoKeySecondRow"></div>
                  <div id="stcPianoKeySecondRowThree" class="stcPianoKeySecondRow"></div>
                  <div id="stcPianoKeySecondRowFour" class="stcPianoKeySecondRow"></div>
                  <div id="stcPianoKeySecondRowFive" class="stcPianoKeySecondRow"></div>
                  <div id="stcPianoKeySecondRowSix" class="stcPianoKeySecondRow"></div>
                </div>
              </div>
            </div>
             <div id="stcFirstBtnRow">
               <div id="stcNewChordBtn" class="stcFirstRowBtn"></div>
               <div id="stcBkspBtn" class="stcFirstRowBtn"></div>
               <div id="stcClearBtn" class="stcFirstRowBtn"></div>
             </div>
             <div id="stcSecondBtnRow">
                <button id="stcEasyBtn" class="btn btn-default btn-lg">Easy</button>
                <button id="stcMediumBtn" class="btn btn-default btn-lg">Medium</button>
                <button id="stcHardBtn" class="btn btn-default btn-lg">Hard</button>
             </div>
          </div><!-- end #stcFloorBackground -->
      </div>
      </div><!-- end #stcGameContainer -->
    </div><!-- end container -->
    <div id="leaderboard"></div>
    <% include partials/footer %>
    <script src="/js/spellThatChord.js"></script>  <!-- spellThatChord js -->
  </body>
</html>