<!DOCTYPE html>
<html>
  <body>
    <% include partials/head/stc-head %>
    <% include partials/nav %>
    <div class="container main">
       <link href="/styles/spellThatChord.css" rel="stylesheet" type="text/css" />
      <div class="gameHeader">
        <%  include partials/spellThatChord/login-links-stc  %>
          <p class="pull-right text-muted"><%= message %><span id="n"><%= n %></span><span id="u" style="display:none"><%= u %></span></p>  
      </div>
      <div class="row">
        <h1 id="stcHeader" class="text-center" style="margin-bottom:20px;">Spell That Chord</h1>
      <div class="col-md-6">
      <div id="stcGameContainer">
      <div class="text-center">
           <div id="stcHeader"></div>  
           <div id="stcFloorBackground">
            <div id="stcPiano">
              <div id="stcTopPianoRow">
                <%  include partials/spellThatChord/howToPlay  %>
                <%  include partials/spellThatChord/cheatSheet  %>
              </div>
              <div id="stcChordDisplayRow">
                <h1 id="stcChordDisplay">Chord</h1>
              </div>
              <div id="stcScoreDisplayRow">
                <div id="stcPortraitSheetMusic" class="stcScoreDisplaySheetMusicBackground">
                  <span id="stcPortraitSheetMusicNumber" class="stcSheetMusicNumber">0</span>
                </div>
                <div id="stcAnswerDisplay">
                  <div id="stcEasyAnswerDisplay">
                    <div class="stcEasyAnswerDisplayLetter"><h2 id="stcEasy1">?</h2></div>
                    <div class="stcEasyAnswerDisplayLetter"><h2 id="stcEasy2">?</h2></div>
                    <div class="stcEasyAnswerDisplayLetter"><h2 id="stcEasy3">?</h2></div>
                  </div>
                  <div id="stcMediumAnswerDisplay">
                    <div class="stcMediumAnswerDisplayLetter"><h2 id="stcMedium1">?</h2></div>
                    <div class="stcMediumAnswerDisplayLetter"><h2 id="stcMedium2">?</h2></div>
                    <div class="stcMediumAnswerDisplayLetter"><h2 id="stcMedium3">?</h2></div>
                    <div class="stcMediumAnswerDisplayLetter"><h2 id="stcMedium4">?</h2></div>
                  </div>
                  <div id="stcHardAnswerDisplay">
                    <div class="stcHardAnswerDisplayLetter"><h2 id="stcHard1">?</h2></div>
                    <div class="stcHardAnswerDisplayLetter"><h2 id="stcHard2">?</h2></div>
                    <div class="stcHardAnswerDisplayLetter"><h2 id="stcHard3">?</h2></div>
                    <div class="stcHardAnswerDisplayLetter"><h2 id="stcHard4">?</h2></div>
                    <div class="stcHardAnswerDisplayLetter"><h2 id="stcHard5">?</h2></div>
                  </div>
                </div>
                <div id="stcLandscapeSheetMusic" class="stcScoreDisplaySheetMusicBackground">
                  <span id="stcLandscapeSheetMusicNumber" class="stcSheetMusicNumber"><%= score %></span>
                </div>
              </div>
              <div id="stcScoreTextRow">
                <span id="stcScoreTextRowPointsText" class="stcScoreText">Points</span>
                <span id="stcGuessFeedback" class="text-center">Spell That Chord!</span>
                <span id="stcScoreTextRowScoreText" class="stcScoreText">Score</span>
              </div>
              <div id="stcPianoKeyboardContainer">
                <div id="stcPianoKeyboardRowOne" class="stcPianoKeyboardRow">
                  <div id="stcPianoKeyFirstRowOne" class="stcPianoKeyFirstRow"></div>
                  <div id="stcPianoKeyFirstRowTwo" class="stcPianoKeyFirstRow"></div>
                  <div id="stcPianoKeyFirstRowThree" class="stcPianoKeyFirstRow"></div>
                  <div id="stcPianoKeyFirstRowFour" class="stcPianoKeyFirstRow"></div>
                  <div id="stcPianoKeyFirstRowFive" class="stcPianoKeyFirstRow"></div>
                  <div id="stcPianoKeyFirstRowSix" class="stcPianoKeyFirstRow"></div>
                </div>
                <div id="stcPianoKeyboardRowTwo" class="stcPianoKeyboardRow">
                  <div id="stcPianoKeySecondRowOne" class="stcPianoKeySecondRow"></div>
                  <div id="stcPianoKeySecondRowTwo" class="stcPianoKeySecondRow"></div>
                  <div id="stcPianoKeySecondRowThree" class="stcPianoKeySecondRow"></div>
                  <div id="stcPianoKeySecondRowFour" class="stcPianoKeySecondRow"></div>
                  <div id="stcPianoKeySecondRowFive" class="stcPianoKeySecondRow"></div>
                  <div id="stcPianoKeySecondRowSix" class="stcPianoKeySecondRow"></div>
                </div>
              </div>
            </div>
             <div id="stcFirstBtnRow">
               <div id="stcNewChordBtn" class="stcFirstRowBtn"></div>
               <div id="stcBkspBtn" class="stcFirstRowBtn"></div>
               <div id="stcClearBtn" class="stcFirstRowBtn"></div>
             </div>
             <div id="stcSecondBtnRow">
                <button id="stcEasyBtn" class="btn btn-default btn-lg">Easy</button>
                <button id="stcMediumBtn" class="btn btn-default btn-lg">Medium</button>
                <button id="stcHardBtn" class="btn btn-default btn-lg">Hard</button>
             </div>
          </div><!-- end #stcFloorBackground -->
      </div>
      </div><!--/#stcGameContainer -->
        </div><!--/col-->
        <div class="col-md-6">
          <div id="stcLeaderboard">
              <h3 class="text-center">Leaderboard</h3>
              <div id="stcLeaderboardBtnRow">
              <span>Sort by: </span><div id="stcLbTopScorersBtn" class="btn btn-sm btn-default">Top Scorers</div><div id="stcLbNearMeBtn" class="btn btn-sm btn-default">Near Me</div>
              </div>  
            <div id="stcScores" class="row">
              <div id="stcScoresNames" class="col-xs-8"></div>
              <div id="stcScoresValues" class="col-xs-4"></div>
            </div>
          </div>
        </div><!--/col--> 
      </div><!--/row-->  
    </div><!--/container -->
    <% include partials/footer %>
    <script src="/js/lib/ion.sound.min.js"></script>  <!-- spellThatChord js -->
    <script src="/js/spellThatChord.js"></script>  <!-- spellThatChord js -->
  </body>
</html>