<!DOCTYPE html>
<html>
  <body>
    <% include partials/head %>
    <% include partials/nav %>
    <div class="container">
       <link href="/styles/spellThatChord.css" rel="stylesheet" type="text/css" />
      <% /* include partials/login-links */ %>
      <h1 id="stcHeader" class="text-center">Spell That Chord</h1>
      <div id="stcGameContainer">
      <div class="text-center">
           <div id="stcHeader"></div>  
           <div id="stcFloorBackground">
              <div id="stcPiano">
             
             </div>
          </div><!-- end #stcFloorBackground -->
      </div>
      </div><!-- end #stcGameContainer -->
    </div><!-- end container -->
    <% include partials/footer %>
  </body>
</html>