<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Testing!</title>
</head>
<body>
<h1 style="text-align: center">TESTING!</h1>
<script src="/js/vendor.min.js"></script>
<script src="/js/app.min.js"></script>
</body>
</html>