#gcgGame canvas{
  padding-top: 30px;
  margin: 0 auto;
}

#gcgDifficultyBtnRow{
  height: 50px;
  width: 460px;
  margin: 0 auto;
}

.btn.answer{
  margin: 6px;
}

#gcgFeedbackContainer{
  height:40px;
  margin-top: 10px;
}
#gcgPointsAvailableContainer{
  height: 20px;
  margin-top: 10px;
}

#gcgAnswerContainer{
  height: 60px;
}

#gcgGuessFeedback{
  font-size: 25px;
}


/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 480px) {
  .btn{
    font-size: 12px;
    padding: 4px;
    margin: 4px;
  }
  #gcgDifficultyBtnRow{
    padding-top: 25px;
    width: auto;
  }
  #gcgAnswerContainer{
    height: 40px;
  }
  #gcgFeedbackContainer{
    height:20px;
    margin-top: 10px;
  }
  #gcgGuessFeedback{
    font-size: 15px;
  }
}/* end media query */

