.container.main{
  background: url('/images/lightBlueBackground.png');
}

#stcFloorBackground{
  background-image: url("/images/stc/floor.png");
  background-repeat: no-repeat;
  width: 480px;
  height: 690px;
  margin: 0 auto;
  background-size:contain;
background-position:center;
}

#stcPiano{
  background-image: url("/images/stc/piano.png");
  background-repeat: no-repeat;
  background-size:contain;
  background-position:center;
  width: 480px;
  height: 420px;
  margin: 0 auto;
  
}
/* ---------------------------------------------------------------------------*/

#stcHowToPlay .modal-content{
  height: 690px;
}

#stcHowToPlayImage{
  background-image: url("/images/stc/howtoPlay.png");
  background-repeat: no-repeat;
  width: 480px;
  height: 690px;
  margin: 0 auto;
  background-size:contain;
  background-position:center;
}

#stcCheatSheet .modal-content{
  height: 690px;
}

#stcCheatSheetImage{
  background-image: url("/images/stc/blankPage.png");
  background-repeat: no-repeat;
  width: 480px;
  height: 690px;
  margin: 0 auto;
  background-size:contain;
  background-position:center;
}

#stcCheatSheetTextContainer{
  padding-top: 80px;
  max-width:300px;
  margin:0 auto;
}

/* ---------------------------------------------------------------------------*/

#stcTopPianoRow{
  height: 80px;
  width: 480px;
  padding: 5px 15px;
}

.stcTopPianoRowBtn{
  background-repeat: no-repeat;
  background-size:contain;
  background-position:center;
  width: 115px;
  height: 66px;
  cursor: pointer;
  transition: .2s;
}

.stcTopPianoRowBtn:active{
  height:64px;
}


#stcHowToPlayBtn{
  background-image: url("/images/stc/HowtoPlay_btn.png");
  float: left;
}

#stcCheatSheetBtn{
  background-image: url("/images/stc/CheatSheet_btn.png"); 
  float: right;
}

/* ---------------------------------------------------------------------------*/

#stcChordDisplayRow h1{
  margin: 0;
  color: white;
}

/* ---------------------------------------------------------------------------*/

#stcScoreDisplayRow{
  height: 96px;
  width: 480px;
  padding: 5px 15px;
}

.stcScoreDisplaySheetMusicBackground{
  background-repeat: no-repeat;
  background-size:contain;
  background-position:center;
}

#stcPortraitSheetMusic{
  background-image: url("/images/stc/single_.png");
  width: 115px;
  height: 90px;
  float: left;
}

.stcSheetMusicNumber{
  margin: 0 auto;
  line-height: 90px;
  font-size: x-large;
  color: black;
}

#stcAnswerDisplay{
  width: 212px;
  height: 90px;
  margin: 0 auto;
  float: left;
}

#stcMediumAnswerDisplay, #stcHardAnswerDisplay{
  display: none;
}
.stcEasyAnswerDisplayLetter {
  display: inline-block;
  width: 30%;
  border-bottom: 4px solid white;
  height:70px;
}

.stcMediumAnswerDisplayLetter{
  display: inline-block;
  width: 23%;
  border-bottom: 4px solid white;
  height:70px;
}

.stcHardAnswerDisplayLetter{
  display: inline-block;
  width: 18%;
  border-bottom: 4px solid white;
  height:70px;
}

#stcAnswerDisplay h1{
  color: white;
}

#stcLandscapeSheetMusic{
  background-image: url("/images/stc/1_paper.png"); 
  width: 115px;
  height: 90px;
  float: right;
}

/* ---------------------------------------------------------------------------*/

#stcScoreTextRow{
  height: 26px;
  width: 480px;
}

.stcScoreText{
  font-size: large;
  line-height: 26px;
  color: white;
}

#stcScoreTextRowPointsText {
float: left;
margin-left: 50px;
}

#stcScoreTextRowScoreText {
float: right;
margin-right: 50px;
}

#stcGuessFeedback{
  color: white;
}


/* ---------------------------------------------------------------------------*/

#stcPianoKeyboardContainer{
/*  margin-top: 100px;*/
}

.stcPianoKeyboardRow{
  width: 400px;
  height: 61px;
  margin: 0 auto;
  background: black;
}

#stcPianoKeyboardRowOne{
  
}

#stcPianoKeyboardRowTwo{
  
}

.stcPianoKeyFirstRow, .stcPianoKeySecondRow{
  display: inline-block;
  background-repeat: no-repeat;
  background-size:contain;
  background-position:center;
  height: 60px;
  width: 60px;
  cursor: pointer;
  transition: .2s;
}

.stcPianoKeyFirstRow:active, .stcPianoKeySecondRow:active{
  height:58px;
}

#stcPianoKeyFirstRowOne{
  background-image: url("/images/stc/A.png"); 
}

#stcPianoKeyFirstRowTwo{
  background-image: url("/images/stc/Asharp.png"); 
}

#stcPianoKeyFirstRowThree{
  background-image: url("/images/stc/B.png"); 
}

#stcPianoKeyFirstRowFour{
  background-image: url("/images/stc/C.png"); 
}

#stcPianoKeyFirstRowFive{
  background-image: url("/images/stc/Csharp.png"); 
}

#stcPianoKeyFirstRowSix{
  background-image: url("/images/stc/D.png"); 
}

#stcPianoKeySecondRowOne{
  background-image: url("/images/stc/Dsharp.png"); 
}

#stcPianoKeySecondRowTwo{
  background-image: url("/images/stc/E.png"); 
}

#stcPianoKeySecondRowThree{
  background-image: url("/images/stc/F.png"); 
}

#stcPianoKeySecondRowFour{
  background-image: url("/images/stc/Fsharp.png"); 
}

#stcPianoKeySecondRowFive{
  background-image: url("/images/stc/G.png"); 
}

#stcPianoKeySecondRowSix{
  background-image: url("/images/stc/Gsharp.png"); 
}

/* ---------------------------------------------------------------------------*/

#stcFirstBtnRow, #stcSecondBtnRow{
  height: 80px;
  width: 460px;
  margin: 0 auto;
}

.stcFirstRowBtn{
  background-repeat: no-repeat;
  background-size:contain;
  background-position:center;
  width: 115px;
  height: 66px;
  display: inline-block;
  margin: 15px;
  cursor: pointer;
  transition: .2s;
}

.stcFirstRowBtn:active{
  height: 64px;
}

#stcNewChordBtn{
  background-image: url("/images/stc/new_btn.png"); 
}

#stcBkspBtn{
  background-image: url("/images/stc/back_btn.png");
}

#stcClearBtn{
  background-image: url("/images/stc/clear_btn.png");
}

/* ---------------------------------------------------------------------------*/

#stcSecondBtnRow button{
  margin: 10px;
  padding: 14px 20px;
  font-size: 24px;
}

/* ---------------------------------------------------------------------------*/

#stcLeaderboard{
  background: rgba(255,255,255,.4);
  min-height: 400px;
  padding: 5px;
  max-width: 480px;
  margin: 0 auto;
}

#stcLeaderboardBtnRow{
  height: 40px; 
  width: 250px;
  margin: 0 auto;
}

#stcLeaderboardBtnRow .btn{
  margin: 0 10px;
}

#stcLeaderboard td{
  padding-left: 10px;
}

#stcLeaderboard td.scoreTd{
  padding-left: 15px;
}





