#stcFloorBackground{
  background-image: url("/images/stc/floor.png");
  background-repeat: no-repeat;
  width: 480px;
  height: 690px;
  margin: 0 auto;
  background-size:contain;
background-position:center;
}

#stcPiano{
  background-image: url("/images/stc/piano.png");
  background-repeat: no-repeat;
  width: 480px;
  height: 420px;
  margin: 0 auto;
  background-size:contain;
background-position:center;
}

#stcTopPianoRow{
  height: 80px;
  width: 480px;
  padding: 5px 15px;
}

.stcTopPianoRowBtn{
  background-repeat: no-repeat;
  background-size:contain;
  background-position:center;
  width: 115px;
  height: 66px;
  cursor: pointer;
}

#stcHowToPlayBtn{
  background-image: url("/images/stc/HowtoPlay_btn.png");
  float: left;
}

#stcCheatSheetBtn{
  background-image: url("/images/stc/CheatSheet_btn.png"); 
  float: right;
}

#stcChordDisplayRow h1{
  color: white;
}

#stcPianoKeyboardContainer{
  margin-top: 100px;
}

.stcPianoKeyboardRow{
  width: 400px;
  height: 60px;
  margin: 0 auto;
  background-color: yellow;
}

#stcPianoKeyboardRowOne{
  
}

#stcPianoKeyboardRowTwo{
  
}

.stcPianoKeyFirstRow{
  display: inline-block;
}

#stcFirstBtnRow, #stcSecondBtnRow{
  height: 80px;
  width: 460px;
  margin: 0 auto;
  margin-top:10px;
}

.stcFirstRowBtn{
  background-repeat: no-repeat;
  background-size:contain;
  background-position:center;
  width: 115px;
  height: 66px;
  display: inline-block;
  margin: 15px;
  cursor: pointer;
}
#stcNewChordBtn{
  background-image: url("/images/stc/new_btn.png"); 
}

#stcBkspBtn{
  background-image: url("/images/stc/back_btn.png");
}

#stcClearBtn{
  background-image: url("/images/stc/clear_btn.png");
}

#stcSecondBtnRow button{
  margin: 10px;
  padding: 14px 20px;
  font-size: 24px;
}


