.white{
  color: white;
}

.green{
  color: #4cae4c;
}

.container{
  background: url('/images/lightBlueBackground.png');
  padding-top: 10px;
}

.jumbotron{
  background-color: rgba(245,245,245,.5);
}

.navbar{
  border:none;
  background: url('/images/lightBlueBackground.png');
}

.footer-bar{
  height: 60px;
  background-color: grey;
  color: white;
  text-align: center;
  line-height: 60px;
}

.form-group input{
  width: 250px;
  max-width: 90%;
  margin: .3em;
  text-align:center;
}

#signUpErrorMsg, #logInErrorMsg{
  color: red;
}

.gameHeader{
  height: 20px;
}

.gameHeader p{
  line-height: 28px;
  padding-right: 20px;
  font-size: 16px;
}