* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
}
.footer-bar, .push {
	height: 60px; /* .push must be the same height as .footer */
}

.white{
  color: white;
}

.green{
  color: #4cae4c;
}

.red{
  color: #ff5353;
}

.brown{
  color: brown;
}

.navbar-brand{
  height: 70px;
  padding-top: 0;
}

.navLogoImg{
  height: 70px;
  width: 150px;
}

.navbar-default{
  background-color: white;
}

.navbar .container{
  
}


.navbar-nav>li>a {
  line-height: 40px;
  font-size: 18px;
}

/*login*/
#loginModalBtn{
  padding: 2px 5px;
}

.textured-background{
  background: url('/images/lightBlueBackground.png');
  padding: 10px;
}

.jumbotron{
  background-color: rgba(245,245,245,.5);
}

.navbar{
  border:none;
}

.fb_iframe_widget {
  position: absolute !important;
}

.footer-bar{
  background-color: grey;
  color: white;
  line-height: 60px;
  font-size: 18px;
}

.form-group input{
  width: 250px;
  max-width: 90%;
  margin: .3em;
  text-align:center;
}

#signUpErrorMsg, #logInErrorMsg{
  color: red;
}

.gameHeader {
  height: 30px;
  padding-top: 10px;
}

.gameHeader p{
  line-height: 28px;
  padding-right: 20px;
  font-size: 16px;
}

/* leaderboard styles*/
/*leaderboard styles*/
.leaderboardContainer{
  background: rgba(255,255,255,.9);
  padding: 5px;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 5px;
}

.leaderboardBtnRow{
  height: 35px; 
  width: 300px;
  margin: 0 auto;
}

.leaderboardBtnRow .btn{
  margin: 0 10px;
}

.leaderboardContainer td{
  padding-left: 10px;
}

.leaderboardContainer td.scoreTd{
  padding-left: 15px;
}

#leaderboardMessage{
  color: #d9534f;
}

.chart{
  overflow: hidden;
  position: absolute;
  margin-top: 58px;
}

.chart div {
  background-color: steelblue;
  text-align: left;
  margin: 2px;
  opacity: .5;
  height: 18px;
}

.btn.selected{
  border: 2px solid steelblue;;
}

/*large screen media queries*/
@media (min-width: 768px){
  .navbar-nav {
    margin: 0;
    float: right;
  }

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 480px) {
  .navbar-brand{
    height: 50px;
  }
  .navLogoImg{
    height: 50px;
  }
  .chart{
    margin-top: 58px;
  } 
  .fb_iframe_widget {
    position: relative !important;
  }
}/* end media query */