.white{
  color: white;
}

.green{
  color: #4cae4c;
}

.brown{
  color: brown;
}

.navbar-brand{
  height: 70px;
  padding-top: 0;
}

.navLogoImg{
  height: 70px;
  width: 150px;
}

.navbar-default{
  background-color: white;
}

.navbar .container{
  
}

.navbar-nav>li>a {
  line-height: 40px;
  font-size: 18px;
}

/*login*/
#loginModalBtn{
  padding: 2px 5px;
}

.textured-background{
  background: url('/images/lightBlueBackground.png');
  padding: 10px;
}

.jumbotron{
  background-color: rgba(245,245,245,.5);
}

.navbar{
  border:none;
}

.footer-bar{
  height: 60px;
  background-color: grey;
  color: white;
  text-align: center;
  line-height: 60px;
}

.form-group input{
  width: 250px;
  max-width: 90%;
  margin: .3em;
  text-align:center;
}

#signUpErrorMsg, #logInErrorMsg{
  color: red;
}

.gameHeader {
  height: 30px;
  padding-top: 10px;
}

.gameHeader p{
  line-height: 28px;
  padding-right: 20px;
  font-size: 16px;
}

/* leaderboard styles*/
/*leaderboard styles*/
.leaderboardContainer{
  background: rgba(255,255,255,.7);
  min-height: 400px;
  padding: 5px;
  max-width: 300px;
  margin: 0 auto;
}

.leaderboardBtnRow{
  height: 40px; 
  width: 250px;
  margin: 0 auto;
}

.leaderboardBtnRow .btn{
  margin: 0 10px;
}

.btn.selected{
  border: 1px solid black;
}

/*large screen media queries*/
@media (min-width: 768px){
  .navbar-nav {
    margin: 0;
    float: right;
  }

}