.gameContainer {
    text-align: center;
    position: relative;
    width: 600px;
    height: 430px;
    background: url("https://www.guitarthinker.com/images/table.png") no-repeat;
    margin: 1em auto;
}

.gtTest__gameHeader{
    text-align: center;
}

.questionTextContainer {
    position: relative;
    margin: 0 auto;
    width: 300px;
    height: 160px;
    font-size: 1.6em;
    top: 67px;
}

.questionText {
    display: block;
    color: #a32025;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.categoryButtonsContainer {
    text-align: center;
}

.categoryMessage{
    text-align: center;
    margin: 10px 0 0;
}

.categoryBtn {
    transition: 0.5s;
    margin: 0 3px;
    border-color: #a32025;
    color: #a32025;
}

.categoryBtn:hover,
.categoryBtn:focus,
.categoryBtn:active{
    border-color: #a32025;
    color: #a32025;
}

.categoryBtn--dormant {
    height: 16px;
    line-height: 16px;
    border-color: black;
    color: black;
}

.categoryBtn--dormant:focus,
.categoryBtn--dormant:active{
    border-color: black;
    color: black;
}

.gtTest__answerBtnRow{
    position: absolute;
    top: 260px;
    width: 80%;
    left: 10%;
}

.gtTest__answerBtn{
    box-shadow: 0 2px 3px black;
    text-transform: none;
    font-size: 1em;
    padding: 0 10px;
    min-width: 80px;
}


