.gameContainer {
    text-align: center;
    position: relative;
    width: 600px;
    height: 430px;
    background: url("https://www.guitarthinker.com/images/table.png") no-repeat;
    margin: 1em auto;
}

.gtTest__gameHeader{
    text-align: center;
}

.questionTextContainer {
    position: relative;
    margin: 0 auto;
    width: 300px;
    height: 140px;
    font-size: 1.6em;
    top: 90px;
}

.questionText {
    position: relative;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    color: red !important;
}

.categoryButtonsContainer {
    text-align: center;
}

.categoryMessage{
    text-align: center;
    margin: 10px 0 0;
}

.categoryBtn {
    margin: 0 3px;
}

.categoryBtn--selected {
    border-color: green;
    color: green;
}



