.gameContainer {
    text-align: center;
    position: relative;
    width: 600px;
    height: 430px;
    background: url("https://www.guitarthinker.com/images/table.png") no-repeat;
    margin: 1em auto;
}

.gtSidebar__container{
    width: 120px;
    height: 480px;
    position: fixed;
    background-color: rgb(27, 27, 35);
    border-radius: 0 5px 5px 0;
    top: 50px;
    color: sandybrown;
    overflow: hidden;
    z-index: 10;
}

.gtSidebar__item{
    position: relative;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid sandybrown;
    height: 100px;
    list-style: none;
    padding: 10px;
}

.gtSidebar__text{
    padding: 0;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gtSidebar__text--label{
    color: #a32025;
    text-decoration: underline;
    margin-bottom: -5px;
}

.gtSidebar__levelLabel{
    position: absolute;
    top: 40%;
    text-decoration: none;
}

.gtBonusPointsContainer{
    text-align: center;
    padding-top: 20px;
}

.gtSidebar__score{

}

.gtSidebar__username{

}

.gtSidebar__item:last-child{
    border-bottom: none;
}

.gtTest__gameHeader{
    text-align: center;
}

.questionTextContainer {
    position: relative;
    margin: 0 auto;
    width: 300px;
    height: 160px;
    font-size: 1.6em;
    top: 67px;
}

.questionText {
    display: block;
    color: #a32025;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.categoryButtonsContainer {
    text-align: center;
}

.categoryMessage{
    text-align: center;
    margin: 10px 0 0;
}

.categoryBtn {
    transition: 0.5s;
    margin: 0 3px;
    border-color: #a32025;
    color: #a32025;
}

.categoryBtn:hover,
.categoryBtn:focus,
.categoryBtn:active{
    border-color: #a32025;
    color: #a32025;
}

.categoryBtn--dormant {
    height: 16px;
    line-height: 16px;
    border-color: black;
    color: black;
}

.categoryBtn--dormant:focus,
.categoryBtn--dormant:active{
    border-color: black;
    color: black;
}

.gtTest__answerBtnRow{
    position: absolute;
    top: 260px;
    width: 80%;
    left: 10%;
}

.gtTest__answerBtn{
    box-shadow: 0 2px 3px black;
    text-transform: none;
    font-size: 1em;
    padding: 0 10px;
    min-width: 80px;
}

/* ANIMATE STUFF*/

.animate-repeat.ng-move,
.animate-repeat.ng-enter{
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
}

 /*===============================================================*/
 /*D3 CRAZINESS*/
.background {
    fill: transparent;
}

.component {
    fill: sandybrown;
}

.arc {
    stroke-weight:0.1;
    fill: #a32025;
}


.arc2 {
    stroke-weight:0.1;
    fill: #3660b0;
}

.radial-svg {
    display: block;
    margin: 0 auto;
}

#div1 {
    width: 33%;
    height: 150px;
    box-sizing: border-box;
    float: left;
}

.radial {
    border-radius: 3px;
    background: #FFFFFF;
    color: #000;

}
