<div id="stcCheatSheetBtn" class="stcTopPianoRowBtn" data-toggle="modal" data-target="#stcCheatSheet"></div>

<!-- Modal -->
<div class="modal fade" id="stcCheatSheet" tabindex="-1" role="dialog" aria-labelledby="stcCheatSheetLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div style="height: 30px; padding-right:20px;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size:50px;">&times; </button>
        <div id="stcCheatSheetImage">
          <h1 id="stcCheatSheetChord" class="text-center"></h1>
          <h2 id="stcCheatSheetSpelling" class="text-center"></h2>
        </div>
      </div>
       
    </div>
  </div>
</div>