<div id="stcHowToPlayBtn" class="stcTopPianoRowBtn" data-toggle="modal" data-target="#stcHowToPlay"></div>


<!-- Modal -->
<div class="modal fade" id="stcHowToPlay" tabindex="-1" role="dialog" aria-labelledby="stcHowToPlayLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div style="height: 30px; padding-right:20px;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size:50px;">&times; </button>
        <div id="stcHowToPlayImage"></div>
      </div>
       
    </div>
  </div>
</div>