<div class="pull-right">
<% if (!Parse.User.current()) { %>
  <a href="/login" class="btn btn-success btn-sm">Login/Signup</a>
  <% } else { %>
  <a href="/logout" class="btn btn-danger btn-sm">Logout</a>
<% } %>  
</div>